.product-type-lookup-left-container .grid-row-actions {
	position: absolute;
	left: 82%;
	top: 0.4em;
	padding: 0;
	width: 60px;
}
.settings-menu-actions-icon {
	display: inline-block;
	padding: 0 !important;
	height: 23px;
	margin-right: 10px !important;
}
.settings-menu-actions-icon .t-btn-image {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}
.settings-menu-actions-icon .t-btn-menuWrap,
.settings-menu-actions-icon .t-btn-menu {
	display: none;
}
div[id*='custom-control'] > label {
  width: auto;
  padding-right: 0.8em;
}
#left-header-container {
	border-right: none;
	margin-right: 0px;
	min-width: 400px;
}
#right-header-container {
	border-left: 0px;
}
.ProductTypeLookupSectionV2 #CardContentWrapper {
 	padding-top: 0px;
}
.product-type-lookup-combined-action-buttons-section-container-wrapClass {
	width: 100%;
	margin-left: 0;
	background-color: white;
	border-right: 1px solid #e6e6e6;
	padding-bottom: 12px;
}
.is-angular-host #ProductTypeLookupSectionV2Container {
	padding-left: 20px;

	.content-container-wrapClass {
		padding-top: 0;	

		.product-type-lookup-left-container {
			.grid-hierarchical {
				margin-top: -22px;
		
				.grid-captions {
					div[class^='grid-cols-'] {
						display: none;
					}
				}
			}
		}

		#CardContainer {
			padding-top: 0px;
		
			.center-main-container > div {
				border-radius: unset !important;
				margin-left: 6px;
				margin-top: -4px;
			}
		}
	}
}